<div class="nav">
  <ul>
    <li>Home</li>
    <li><a href="/profiles">Profile</a></li>
  </ul>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="/">Cuit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav ml-auto" >
      <li class="nav-item">
        <a class="nav-link" href="/register">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profiles">Profile</a>
      </li>
    </ul>
  </div>
</nav>