<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partials/_headDefault.ejs');%>
    <title>CUITAN</title>
  </head>

  <body>
    <%-include('./partials/nav-bar.ejs');%>

 <div class="jumbotron">
    <h1 class="display-4 text-center" >Cuit</h1>
    <p class="lead text-center">You are free to Cuit</p>
    <hr class="my-4">
    <p class="text-center">Join others in the world of Cuit</p>
    <div class="text-center">
      <a class="btn btn-primary btn-lg" href="/register" role="button">Cuit Up</a>
    </div>
  </div>

  <%- include('./partials/_footer.ejs') %>