<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partials/_headDefault.ejs');%>
    <title>CUITAN</title>
  </head>
  <body>
    <%-include('./partials/nav-bar.ejs');%>

    <section id="user">
      
    </section>

    <section id="cuit-container">
      <div style="margin: 0 auto">
      
      </div> 
    </section>

<%- include('./partials/_footer.ejs') %>