<%- include('./partials/_header.ejs') %>
   <section id="user">
    
   </section>

   <section id="cuit-container">
     <div style="margin: 0 auto">
     
     </div> 
   </section>

<%- include('./partials/_footer.ejs') %>